<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link rel="stylesheet" href="/reset.css">
    <!-- <link rel="stylesheet" href="/index.css"> -->
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="../index.js" defer></script>
    <title><%= title %></title>
</head>

<body>
    <header style="height: clamp(3rem, 10vw, 5rem);"
        class="flex justify-between items-center pt-4 pb-4 pl-8 pr-8 bg-light-green border-b-4 border-black">
        <div>
            <span id="title" class="font-bold text-3xl">MACaPPLE</span>
        </div>
        <div style="margin-left: 50%;" class="nav-links flex gap-4 border-4 border-purple-500 ">
            <ul class="flex list-none gap-4 items-center justify-center">
                <li class="btn-menus"><a href="/menus">Menus</a></li>
                <li class="btn-products"><a href="/products">Products</a></li>
                <li class="btn-contest"><a href="/contest">Contest</a></li>
                <li class="btn-login"><a href="/login">Login</a></li>
                <li class="btn-signup"><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
        <div>
            <div class="cart-container flex justify-center items-center gap-2">
                <i class="fa-solid fa-cart-shopping cart-icon text-3xl"></i>
                <span class="items-in-cart text-2xl">0</span>
            </div>
        </div>
    </header>

    <main style="width: clamp(20rem, 70%, 100%);" class="border-4 border-black mt-24 mb-24 ml-auto mr-auto ">

    </main>
    <footer class="bg-gray-800 text-white text-center p-4">
        <p>&copy; 2025 MACaPPLE. All rights reserved. </p>
        <a href="https://github.com/ioana229/MMI" target="_blank" class="text-blue-400 hover:underline">
            GitHub
        </a>
    </footer>

</body>

</html>
