<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/reset-css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>

<body>
    <header>
        <div>
            <span id="title">MACaPPLE</span>
        </div>
        <div class="nav-links">
            <ul>
                <li class="item-1 active"><a href="#">Menus</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contest</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
        <div>
            <div class="cart-container">
                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                <span class="items-in-cart">0</span>
            </div>
        </div>
    </header>

    <main>
        <div class="product-container">
            <div class="product">
                <img src="../assets/burger.png" alt="Product Image">
                <div class="product-info">
                    <span class="product-name">Macbook Pro</span>
                    <span class="product-price">$1299.99</span>
                    <i class="fa-solid fa-cart-shopping cart-icon"></i>
                </div>
            </div>
            <div class="product">
                <img src="../assets/burger.png" alt="Product Image">
                <div class="product-info">
                    <span class="product-name">Macbook Pro</span>
                    <span class="product-price">$1299.99</span>
                    <i class="fa-solid fa-cart-shopping cart-icon"></i>
                </div>
            </div>
            <div class="product">
                <img src="../assets/burger.png" alt="Product Image">
                <div class="product-info">
                    <span class="product-name">Macbook Pro</span>
                    <span class="product-price">$1299.99</span>
                    <i class="fa-solid fa-cart-shopping cart-icon"></i>
                </div>
            </div>
            <div class="product">
                <img src="../assets/burger.png" alt="Product Image">
                <div class="product-info">
                    <span class="product-name">Macbook Pro</span>
                    <span class="product-price">$1299.99</span>
                    <i class="fa-solid fa-cart-shopping cart-icon"></i>
                </div>
            </div>
        </div>

    </main>
</body>

</html>
